@use "../abstracts" as *;

.home {
  padding: 3rem 0;
  min-height: 100vh;
  background-color: $color-background;

  &__showcases {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
